.cashbackImg {
    width: 130px;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: rgba(24, 143, 255, 0.07);
    border-radius: .5rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cashbackImg * {
    color: #1890ff;

}