.header_container {
    background-color: #ffffff;
    padding: 0.7rem 0rem;
}

.select_box>div {
    border: 0 !important;
}



.ant-input-search-large .ant-input-search-button {
    border-radius: 0px 0.7rem 0.7rem 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.ant-select-selection-placeholder {
    font-weight: bold;
}

.ant-select-open span.ant-select-selection-placeholder {
    color: #120078 !important;

}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #fff;
}

.ant-input-search-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobileview {
    display: none !important;
}

.ant-input-group input {
    background-color: transparent;
}

.ant-input-search .ant-input-affix-wrapper {
    background: #F6F6F6 !important;
    overflow: hidden;
    border-radius: .7rem 0 0 .7rem !important;
    border-width: 0px !important;
    height: 40px;
}

.webview {
    padding: .7rem 4rem;
}


@media only screen and (max-width: 993px) {


    .webview {
        display: none !important;
    }

    .mobileview {
        display: flex !important;
    }
}