.menuItem {
    background: #fff;
    padding: 1rem;
    position: absolute;
    z-index: 10000;
    border-radius: .5rem;
    height: 0px;
    transition: all .3s;
    transform-origin: top;
    transform: scale(1, 0);
    max-height: calc(100vh - 20px);
    overflow: auto;
    display: flex;
    /* width: 100%; */
    top: 35px;
    left: -2rem;
}

.menuItem>ul {
    list-style: none;
    padding-left: 0;
    min-width: 170px;
    padding: 0 .5rem;
}

.menuItem>ul a {
    display: block;
    padding: .4rem;
    color: #000;
    /* font-weight: 400; */
}

.menuItem>ul a {
    transition: all .3s;
}

.menuItem>ul a:hover {
    background-color: #eee;
}

.hr {
    height: 1px;
    background-color: #E6E6E6;
    margin: .5rem 0;
}

.mainListItem a {
    font-weight: 600;
    padding: .5rem;
}

.customSelectMenu:hover .menuItem {
    height: auto;
    transform: scale(1);
}

.customSelectMenu>.menuHeader>span {
    font-weight: 700;
    color: #858585;
    font-size: 1rem;
    display: inline-block;
    padding: 0rem 1rem;
}

.sub-category+.productMenu,
.category+.sub-category {
    display: none;
}

.sub-category:hover, .category:hover+.sub-category {
    display: block;
}

.sub-category:hover+.productMenu {
    display: block;
}

.sub-category+.productMenu {
    width: 650px;
    background: #F7F7F7;
    padding: 0 2rem;
}

@media only screen and (max-width: 1300px) {
    /* .menuItem {
        position: fixed;
        left: 0;
        top: 5rem
    } */
}